body{
    background-image: linear-gradient(black, black) ;
    
}
.items{
  display: flex;
  overflow-x: auto;
  scroll-behavior: auto;
}


.item{
  min-width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  margin-right: 2px;
  padding-left: 10px;
}
  /*  .content {
    position: absolute;
    top: auto;
    left: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    }
   
    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    }
    .wrapper:hover .overlay {
    opacity: 1;
    } */